---
name: Test
on: [push]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    - name: Check out code
      uses: actions/checkout@v1
    - name: Unit tests
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin # temporary fix. See https://github.com/actions/setup-go/issues/14
        go get github.com/onsi/ginkgo/ginkgo@v1.10.1
        go mod download
        make unit-test
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v1
    - name: Lint
      uses: actions-contrib/golangci-lint@master
      with:
        args: run
